In [1]:
# Q: Write a Python program to remove duplicates from a list. INPUT: a = [10,20,30,20,10,50,60,40,80,50,40] OUTPUT: {40, 10, 80, 50, 20, 60, 30}

a = [10,20,30,20,10,50,60,40,80,50,40]

# Converting the list to set so that it removes duplicates from the list

set(a)

{10, 20, 30, 40, 50, 60, 80}

In [2]:
# Q. Write a Python program to sum all the items in a list. INPUT: [1,2,-8] OUTPUT: -5

a = [1,2,-8]

#sum all the list

output = a[0] + a[1] + a[2]

output

-5

In [4]:
# Q. Write a Python program to count the number of strings from a given list of strings with length 2 or more and the first and last characters are the same. 
# INPUT: ['abc', 'xyz', 'aba', '1221'] OUTPUT: 2

values = ['abc', 'xyz', 'aba', '1221']

# for counting the conditions

output = 0

# using for loop

for value in values:
    # Checking length of string which is equal or more than 2
    if len(value)>=2:
        # Checking first and last string
        if value[0] == value[-1]:
            output += 1

output

2

In [9]:
# Write a Python program to print a specified list after removing the 0th, 4th and 5th elements. 
# INPUT: ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow'] OUTPUT: ['Green', 'White', 'Black']

input = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']

# removing based on values

input.remove("Red")
input.remove("Pink")
input.remove("Yellow")

input

['Green', 'White', 'Black']

In [11]:
# Write a Python program to print the numbers of a specified list after removing even numbers from it. INPUT: [7,8, 120, 25, 44, 20, 27]
# OUTPUT: [7,25,27]

inputs = [7,8, 120, 25, 44, 20, 27]

#creating an empty list to push the odd numbers
output = []

# using for loop to iterate 

for input in inputs:
    if input % 2 != 0 :
        output.append(input)

output

[7, 25, 27]

In [12]:
# Write a Python program to get unique values from a list. INPUT: [10, 20, 30, 40, 20, 50, 60, 40] OUTPUT: [40, 10, 50, 20, 60, 30]

inputs = [10, 20, 30, 40, 20, 50, 60, 40]

# Creating empty list to get the unique value 

output = []

# using for loop to iterate and checking whether the value is in output list

for input in inputs:
    if input not in output:
        output.append(input)

output

[10, 20, 30, 40, 50, 60]

In [16]:
# Write a Python program to convert a list of characters into a string. INPUT: ['a', 'b', 'c', 'd'] OUTPUT: abcd

inputs = ['a', 'b', 'c', 'd']

# Creating output as empty string and concatenate the values
output = ""

# iterating the values using for loop

for input in inputs:
    output += input

output

'abcd'

In [19]:
# Write a Python program to calculate the difference between the two lists. INPUT: list1 = [1, 3, 5, 7, 9] list2 = [1, 2, 4, 6, 7, 8]
# OUTPUT: [9, 3, 5, 8, 2, 4, 6]

list1 = [1, 3, 5, 7, 9]
list2 = [1, 2, 4, 6, 7, 8]

# Converting to set to use symmetric difference
set1 = set(list1)
set2 = set(list2)

#symmetric difference

output = set1.symmetric_difference(set2)

output

{2, 3, 4, 5, 6, 8, 9}

In [27]:
# Q. Write a Python program to get the frequency of elements in a list. INPUT: [1, 2, 3, 2, 4, 1, 3, 5, 2, 3, 4, 1]
# OUTPUT: {1: 3, 2: 3, 3: 3, 4: 2, 5: 1}

inputs = [1, 2, 3, 2, 4, 1, 3, 5, 2, 3, 4, 1]

# taking the unique values from the list

unique_values = list(set(inputs))

# checking frequency using count
count = []

for unique_value in unique_values:
    unique_count = inputs.count(unique_value)
    count.append(unique_count)

# Convert to dictionary to get the desired output where unique values is key and count is values we can use zip()

pairs = zip(unique_values, count)
result_dict = dict(pairs)

result_dict

{1: 3, 2: 3, 3: 3, 4: 2, 5: 1}

In [30]:
# Write a Python program to find common items in two lists. 
# INPUT: color1 = "Red", "Green", "Orange", "White" color2 = "Black", "Green", "White", "Pink" OUTPUT: {'Green', 'White'}

color1 =  "Red", "Green", "Orange", "White"
color2 = "Black", "Green", "White", "Pink"

# We can convert to set and intersect to find common items

set1 = set(color1)
set2 = set(color2)

result = set1.intersection(set2)

result

{'Green', 'White'}

In [40]:
# Write a Python program to create a list by concatenating a given list with a range from 1 to n. INPUT : ['p', 'q'] and n = 5 
# OUTPUT: ['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

inputs = ["p","q"]
n=5

#Creating a empty list to get the concatenated values
output = []

# Creating nested for loop to loop through n times

for concatenate in range(1,n+1):
    for input in inputs:
        output.append(input+str(concatenate))

output

['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

In [50]:
# Write a Python program to convert a list of multiple integers into a single integer. INPUT: [11, 33, 50] OUTPUT 113350

inputs =  [11, 33, 50]

# Creating an empty string to concatenate
output = ""

# Iterating the values and concatenate the values

for input in inputs:
    output += str(input)

#Converting string to integer

result = int(output)

result

113350

In [53]:
# Write a Python program to split a list into different variables. 
# INPUT: color = [("Black", "#000000", "rgb(0, 0, 0)"), ("Red", "#FF0000", "rgb(255, 0, 0)"), ("Yellow", "#FFFF00", "rgb(255, 255, 0)")]
# OUTPUT: Var1= ('Black', '#000000', 'rgb(0, 0, 0)') Var2= ('Red', '#FF0000', 'rgb(255, 0, 0)') Var3 = ('Yellow', '#FFFF00', 'rgb(255, 255, 0)')

color =  [("Black", "#000000", "rgb(0, 0, 0)"), ("Red", "#FF0000", "rgb(255, 0, 0)"), ("Yellow", "#FFFF00", "rgb(255, 255, 0)")]

# Unpacking the tuples to form 3 variables

var1, var2, var3 = color

# Using formatted string literals to get the desired output

print(f"Var1 = {var1}")
print(f"Var2 = {var2}")
print(f"Var3 = {var3}")

Var1 = ('Black', '#000000', 'rgb(0, 0, 0)')
Var2 = ('Red', '#FF0000', 'rgb(255, 0, 0)')
Var3 = ('Yellow', '#FFFF00', 'rgb(255, 255, 0)')

In [58]:
# Write a Python program to split a list every Nth element. INPUT: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n']
#OUTPUT: [['a', 'd', 'g', 'j', 'm'], ['b', 'e', 'h', 'k', 'n'], ['c', 'f', 'i', 'l']]

inputs = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n']

# based on the output lets take n = 3 since there is 3 sublists

n = 3

# Creating an empty list to get the sub_lists
result = []

# creating a empty sublists using for loop inside the result

for sub_list in range(n):
    result.append([])

# appending the values in sub_lists using index

for index in range(len(inputs)):
    # To get the particular sub_list we can go for %
    result_index = index % n
    # appending in sublist
    result[result_index].append(inputs[index])

result

[['a', 'd', 'g', 'j', 'm'], ['b', 'e', 'h', 'k', 'n'], ['c', 'f', 'i', 'l']]

In [64]:
# Write a Python program to unpack a tuple into several variables. INPUT: (4,8,3) OUTPUT: A1=4 A2=8 A3-3

inputs = (4,8,3)

# Unpacking the tuple

A1, A2, A3 = inputs

# Getting desired output using format string literals

print(f"A1={A1} A2={A2} A3={A3}")

A1=4 A2=8 A3=3

In [65]:
# Write a Python program to check whether an element (5) exists within a tuple. INPUT: ("w", 3, "r", "e", "s", "o", "u", "r", "c", "e") OUTPUT: FALSE

input = ("w", 3, "r", "e", "s", "o", "u", "r", "c", "e")

# checking element (5) exists in tuple

5 in input

False

In [68]:
# Write a Python program to reverse a tuple. INPUT: (5,10,15,20) OUTPUT: (20,15,10,5)

input = (5,10,15,20)

input[::-1]

(20, 15, 10, 5)

In [69]:
# Write a Python program to print a tuple with string formatting. INPUT: (100, 200, 300) OUTPUT: This is a tuple (100, 200, 300)

input = (100, 200, 300)
print("This is a tuple", input)

This is a tuple (100, 200, 300)

In [73]:
# Write a Python program to remove an empty tuple(s) from a list of tuples. 
# INPUT: [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')] OUTPUT: [('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

inputs = [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]

output = []

# itterating and checking for empty tuples
for index in range(len(inputs)):
    #Checking for empty tuples
    if inputs[index] != ():
        output.append(inputs[index])

output

[('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

In [77]:
# Write a Python program to convert a given string to a tuple. INPUT: “Shailja” OUTPUT:(‘’s’,’h,’a’,’i’,’l’,’j’,’a’)

input = "Shailja"

# Creating a empty list to seperate the characters

list = []

for char in input:
    list.append(char)

#Convering the list to tuple

result = tuple(list)

result

('S', 'h', 'a', 'i', 'l', 'j', 'a')

In [20]:
# Write a Python program to compute the element-wise sum of given tuples. INPUT: (1, 2, 3, 4) (3, 5, 2, 1) (2, 2, 3, 1) OUTPUT: (6, 9, 8, 6)

inputs = (1, 2, 3, 4),(3, 5, 2, 1),(2, 2, 3, 1)

# Creating an empty list to append the value since tuple is immutable
output = []

#Since all tuples should have equal elements to add we take the length of 1st tuple
for index in range(len(inputs[0])):
# Creating variable to collect the sum
    sum_of_elements = 0
    for input in inputs:
        sum_of_elements += input[index]
    output.append(sum_of_elements)
        

result = tuple(output)

result

(6, 9, 8, 6)

In [22]:
# Write a Python program to convert a given list of tuples to a list of lists. INPUT: [(1, 2), (2, 3), (3, 4)] OUTPUT: [[1, 2], [2, 3], [3, 4]]

inputs = [(1, 2), (2, 3), (3, 4)]

# Creating empty list to append the converted tuple
output = []

# itereate the values from input and converting to list

for index in range(len(inputs)):
    output.append(list(inputs[index]))

output

[[1, 2], [2, 3], [3, 4]]

In [25]:
# Write a Python program to remove all elements from a given set at once. INPUT: {'Green', 'Black', 'Red', 'White'} OUTPUT: set()

input = {'Green', 'Black', 'Red', 'White'}

input.clear()

input

set()

In [36]:
# Write a Python program to check if two given sets have no elements in common.
# INPUT: S1={1, 2, 3, 4} S2={4, 5, 6, 7} OUTPUT: False( as 4 is common)

set1 = {1,2,3,4}
set2 = {4,5,6,7}

# Convert the set to list to compare 

list1 = list(set1)
list2 = list(set2)

for index in range(len(list1)):
    for value in list2:
        if(list1[index] == value):
            # Using formal string literals to get the desired value
            print(False, (f"(as {list1[index]} is common)"))
            break

False (as 4 is common)

In [37]:
# Write a Python program to check if a given value(10) is present in a set or not. INPUT:{1, 3, 5, 7, 9, 11} OUTPUT: False

input = {1, 3, 5, 7, 9, 11}

value = 10

# Checking value is present in input

if value in input:
    print(True)
else:
    print(False)

False

In [41]:
# Write a Python program to remove all duplicates from a given list of strings and return a list of unique strings. Use the Python set data type. 
# INPUT: ['Python', 'Exercises', 'Practice', 'Solution', 'Exercises']
# OUTPUT:['Solution', 'Python', 'Exercises', 'Practice']

input = ['Python', 'Exercises', 'Practice', 'Solution', 'Exercises']

# Converting to set to remove duplicates
output = set(input)

# Converting to list as per the output
final_result = list(output)

final_result

['Practice', 'Exercises', 'Python', 'Solution']

In [43]:
# Write a Python script to add a key to a dictionary. Input: 0: 10, 1: 20} Output: {0: 10, 1: 20, 2: 30}

input = {0: 10, 1: 20}

input[2] = 30

input

{0: 10, 1: 20, 2: 30}

In [51]:
# Write a Python script to concatenate the following dictionaries to create a new one.
# Input: dic1= {1:10, 2:20} dic2= {3:30, 4:40} dic3={5:50,6:60} Output: {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

dict1 = {1: 10, 2: 20}
dict2 = {3: 30, 4: 40}
dict3 = {5: 50, 6: 60}

# Converting keys to strings
dict1_str = {str(key): value for key, value in dict1.items()}
dict2_str = {str(key): value for key, value in dict2.items()}
dict3_str = {str(key): value for key, value in dict3.items()}

final_dict = dict(**dict1_str, **dict2_str, **dict3_str)

final_dict

{'1': 10, '2': 20, '3': 30, '4': 40, '5': 50, '6': 60}

In [53]:
# Write a Python script to check whether a given key (10) already exists in a dictionary. 
# Input: 1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60} Output:” Key 10 is not present in the dictionary”

input = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
key_check = 10

# Storing Key values to check the key
key_value = input.keys()

if key_check in key_value:
    print(f'"Key {key_check} is present in the dictionary"')
else:
    print(f'"Key {key_check} is not present in the dictionary"')

"Key 10 is not present in the dictionary"

In [54]:
# Write a Python program to remove a key(age) from a dictionary.
# Input: 'name': 'John Doe', 'age': 30, 'occupation': 'Software Engineer', 'email': 'john@example.com','is_employed': True }
# Output: 'name': 'John Doe', 'occupation': 'Software Engineer', 'email': 'john@example.com', 'is_employed': True }

dict1 = {'name': 'John Doe', 'age': 30, 'occupation': 'Software Engineer', 'email': 'john@example.com','is_employed': True }

dict1.pop("age")

dict1

{'name': 'John Doe',
 'occupation': 'Software Engineer',
 'email': 'john@example.com',
 'is_employed': True}

In [4]:
# Write a Python program to remove duplicates from the dictionary.
# Input: {'a': 1, 'b': 2, 'c': 1, 'd': 3, 'e': 2, 'f': 4} Output: {'a': 1, 'b': 2, 'd': 3, 'f': 4}

input = {'a': 1, 'b': 2, 'c': 1, 'd': 3, 'e': 2, 'f': 4}

# Creating an empty dictionary
unique_dict = {}

# Creating an empty list to compare the values

seen_values = []

for key, value in input.items():
    if value not in seen_values:
        unique_dict[key] = value
        seen_values.append(value)

unique_dict

{'a': 1, 'b': 2, 'd': 3, 'f': 4}

In [12]:
# Write a Python program to get the maximum and minimum values of a dictionary.
# Input: {‘u’:1000,’v’:3000,'x':500, 'y':5874, 'z': 560} Output: Maximum Value: 5874 Minimum Value: 500

inputs = {'u':1000,'v':3000,'x':500, 'y':5874, 'z': 560}

# Creating an empty list to get the values
value_list = []

for input in inputs.values():
    value_list.append(input)

value_list.sort()

print("Maximum Value:", value_list[-1])
print("Minimum Value:", value_list[0])

Maximum Value: 5874
Minimum Value: 500

In [14]:
 # Write a Python program to check if a dictionary is empty or not. Input: my_dict = {} Output: ”Dictionary is Empty”

my_dict = {}

# Checking the length of dictionary with conditional operator

if len(my_dict) == 0 :
    print("Dictionary is Empty")

Dictionary is Empty

In [18]:
# Write a Python program to create a dictionary of keys x, y, and z where each key has as value a list from 11-20, 21-30, and 31-40 respectively. Access the fifth value of each key from the dictionary.
# Input: {'x': [11, 12, 13, 14, 15, 16, 17, 18, 19], 'y': [21, 22, 23, 24, 25, 26, 27, 28, 29], 'z': [31, 32, 33, 34, 35, 36, 37, 38, 39]} 
# Output: 15 25 35

input = {'x': [11, 12, 13, 14, 15, 16, 17, 18, 19], 'y': [21, 22, 23, 24, 25, 26, 27, 28, 29], 'z': [31, 32, 33, 34, 35, 36, 37, 38, 39]} 

# iterating the values 

for value in input.values():
    print(value[4])

15
25
35

In [20]:
# Write a Python program to drop empty items from a given dictionary.
# Input: {'c1': 'Red', 'c2': 'Green', 'c3': None} Output: {'c1': 'Red', 'c2': 'Green'}

input = {'c1': 'Red', 'c2': 'Green', 'c3': None}

# We can remove using pop method
input.pop("c3")

input

{'c1': 'Red', 'c2': 'Green'}

In [22]:
# Write a Python program to filter a dictionary based on values>170 
# Input : {'Cierra Vega': 175, 'Alden Cantrell': 180, 'Kierra Gentry': 165, 'Pierre Cox': 190}
# Output : {'Cierra Vega': 175, 'Alden Cantrell': 180, 'Pierre Cox': 190}

input = {'Cierra Vega': 175, 'Alden Cantrell': 180, 'Kierra Gentry': 165, 'Pierre Cox': 190}

# Creating an empty dictionary for the values > 170
filtered_dict = {}

for key,value in input.items():
    if value > 170:
        filtered_dict[key] = value

filtered_dict

{'Cierra Vega': 175, 'Alden Cantrell': 180, 'Pierre Cox': 190}

In [26]:
# Write a Python program to verify that all values in a dictionary are the same. 
# Input: {'Cierra Vega': 12, 'Alden Cantrell': 12, 'Kierra Gentry': 12, 'Pierre Cox': 12} Output: “ All values are 12”

input = {'Cierra Vega': 12, 'Alden Cantrell': 12, 'Kierra Gentry': 12, 'Pierre Cox': 12}

# Creating a Empty value list to compare them

value_list = []

# iterating values in value_list
for value in input.values():
    value_list.append(value)

# Creating all_values_same to ensure that after iteration all values are same
all_values_same = True

#iterating the first value with all other values to check whether all values are same

for value in value_list:
    if value_list[0] != value :
        all_values_same = False

if(all_values_same) == True :
    print(f"All values are {value_list[0]}")
else:
    print("All values are not same")

All values are 12

In [7]:
# Write a Python program to filter even numbers from a dictionary of values. 
# INPUT: {'V': [1, 4, 6, 10], 'VI': [1, 4, 12], 'VII': [1, 3, 8]}
# OUTPUT: {'V': [4, 6, 10], 'VI': [4, 12], 'VII': [8]}

input = {'V': [1, 4, 6, 10], 'VI': [1, 4, 12], 'VII': [1, 3, 8]}

# Creating an empty dictionary to filter the values of even number

even_number_dict = {}

# iterating the values

for keys,values in input.items():
    # Creating an empty list for even numbers
    even_numbers = []
    for value in values:
        if value % 2 == 0 :
            even_numbers.append(value)

        even_number_dict[keys] = even_numbers

even_number_dict

{'V': [4, 6, 10], 'VI': [4, 12], 'VII': [8]}

In [10]:
# Write a Python program to count the number of characters (character frequency) in a string.
# INPUT: google.com OUTPUT: {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

input = "google.com"

# creating an empty 
char_freq = {}

# iterate through characters

for char in input:
    # By using get method in dictionary we can collect characters
    char_freq[char] = char_freq.get(char,0)+1

char_freq

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [11]:
# Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead.
# INPUT: 'w3resource' OUTPUT : 'w3ce'

input = 'w3resource'
# By using concatenate and index we can get first two and last two strings
output = input[0]+input[1]+input[-2]+input[-1]

output

'w3ce'

In [16]:
# Write a Python program to remove the 5th index character from a nonempty string. INPUT:’Python’ OUTPUT: Pytho

input = "python"

output = input[:5]

output

'pytho'

In [19]:
# Write a Python program to count the occurrences of each word in a given sentence. 
# INPUT: ‘the quick brown fox jumps over the lazy dog.’
# OUTPUT: {'the': 2, 'jumps': 1, 'brown': 1, 'lazy': 1, 'fox': 1, 'over': 1, 'quick': 1, 'dog.': 1}

input = 'the quick brown fox jumps over the lazy dog.'

# Splitting the given string 
splitted_string = input.split(" ")

# Creating empty dictionary to see the count of words
occurances = {}

for word in splitted_string:
    occurances[word] = occurances.get(word,0)+1

occurances

{'the': 2,
 'quick': 1,
 'brown': 1,
 'fox': 1,
 'jumps': 1,
 'over': 1,
 'lazy': 1,
 'dog.': 1}

In [5]:
# Write a Python function to insert a string in the middle of a string. INPUT: '[[]]', 'Python') OUTPUT: [[Python]]

def insert_function(orginal_str, insert_string):
    # finding the middle of the string
    middle_str = len(orginal_str)//2
    # Concatenating middle_str and orginal_str
    final_str = orginal_str[:middle_str] + insert_string + orginal_str[middle_str:]
    return final_str

final_output = insert_function("[[]]","Python")

print(final_output)

[[Python]]

In [7]:
# Write a Python function to reverse a string if its length is a multiple of 4. INPUT:’python’OUTPUT:’nohtyp’

def reverse_function(input):
    # Checking the length of string is multiple of 3
    if(len(input))% 3 == 0:
        return input[::-1]

output = reverse_function('python')

print(output)

nohtyp

In [8]:
# Write a Python program to check whether a string starts with specified characters (grow) INPUT:” growdataskills” OUTPUT: TRUE

input = "growdataskills"

# Checking the string is specified
if("grow" in input):
    print(True)

True

In [19]:
# Write a Python program to reverse words in a string. 
# INPUT: "The quick brown fox jumps over the lazy dog." OUPUT: “dog. lazy the over jumps fox brown quick The”

input = "The quick brown fox jumps over the lazy dog."

# Splitting the words 

splitted_words = input.split(" ")

#Reverse the list
splitted_words.reverse()

#converting to string

#creating an empty string
output = ""

for word in splitted_words:
    output += word+" "

output

'dog. lazy the over jumps fox brown quick The '

In [34]:
# Write a Python program to check whether a string contains all letters of the alphabet. 
# INPUT: 'The quick brown fox jumps over the lazy cat OUTPUT:FALSE

# To check all letters of alphabets we need a variable to check

alphabets = 'abcdefghijklmnopqrstuvwxyz'

input = 'The quick brown fox jumps over the lazy cat'

#Creating a boolean if there is no alphabet

Output = True

for alphabet in alphabets:
    if(alphabet not in input):
        # Changing the boolean if the alphabet is not in the input
        Output = False
        break

print(Output)

False

In [37]:
# Write a Python program to count and display vowels in text. INPUT: resource OUTPUT: 4 -> ['e', 'o', 'u', 'e']

input = "resource"

# Creating a vowels list 
vowels = ["a", "e", "i", "o", "u"]

# creating an empty list to get the vowels from string

char_input_vowels = []

for char in input:
    if char in vowels:
        char_input_vowels.append(char)

print(len(char_input_vowels), "->", char_input_vowels)

4 -> ['e', 'o', 'u', 'e']